<!doctype html>
<html lang="us">
<head>
	<meta charset="utf-8">
	<title>jQuery UI Example Page</title>
	<link href="/static/jquery-ui.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css"> 
	<style>
	
	section {
		width: 100%;
		border: 1px solid gray;
		height: 100%;
	}
	
	header, footer {
		padding: 1em;
		color: white;
		background-color: black;
		clear: left;
		text-align: center;
	}
	
	article {
		padding: 1em;
		min-height: 400px;
		overflow: hidden;
	}
	
	body{
		font-family: "Trebuchet MS", sans-serif;
		margin: 50px;
	}
	.demoHeaders {
		margin-top: 2em;
	}
	.dialog {
		padding: .4em 1em .4em 20px;
		text-decoration: none;
		position: relative;
	}
	.dialog span.ui-icon {
		margin: 0 5px 0 0;
		position: absolute;
		left: .2em;
		top: 50%;
		margin-top: -8px;
	}
	</style>
</head>
<body>
<section id="zeptrion">
	<header>
	   <h1>Zeptrion Air</h1>
	</header>
	<article>
		<div id="tabs">
			<ul>
				<li><a href="#tabs-0">Smrt Btn</a></li>
				<li><a href="#tabs-1">First</a></li>
				<li><a href="#tabs-2">Second</a></li>
				<li><a href="#tabs-3">Third</a></li>
			</ul>
			<div id="tabs-0">
				<div id="users-contain" class="ui-widget">
				  <h1>Edit Smart Buttons:</h1>
				  <table id="users" class="ui-widget ui-widget-content" style="width:100%">
					<thead>
					  <tr class="ui-widget-header ">
						<th>Panel Name</th>
						<th>Has Smart Button</th>
						<th>Edit</th>
					  </tr>
					</thead>
					<tbody>
					  <tr>
						<td align="center">Panel 1</td>
						<td align="center">true</td>
						<td align="center">
							<button id=""smrt_btn_panel_dialog_1" class="dialog_btn ui-button ui-corner-all ui-widget">
								<span class="ui-icon ui-icon-transfer-e-w"></span>Edit Smart Button(s)
							</button>
						</td>
					  </tr>
					</tbody>
				  </table>
				</div>
				<p>
					<button id="smrt_btn_all_dialog" class="dialog_btn ui-button ui-corner-all ui-widget">
						<span class="ui-icon ui-icon-newwin"></span>Create new user
					</button>
				</p>
			</div>
			<div id="tabs-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
			<div id="tabs-2">Phasellus mattis tincidunt nibh. Cras orci urna, blandit id, pretium vel, aliquet ornare, felis. Maecenas scelerisque sem non nisl. Fusce sed lorem in enim dictum bibendum.</div>
			<div id="tabs-3">Nam dui erat, auctor a, dignissim quis, sollicitudin eu, felis. Pellentesque nisi urna, interdum eget, sagittis et, consequat vestibulum, lacus. Mauris porttitor ullamcorper augue.</div>
		</div>

		<div id="dialog" class="dialog" title="Create new user">
		  <p class="validateTips">All form fields are required.</p>
		 
		  <form>
			<fieldset>
			  <label for="panel_name">Panel Name</label>
			  <input type="text" name="panel_name" id="panel_name" value="Panel1" class="text ui-widget-content ui-corner-all">
			  <label for="name">Email</label>
			  <input type="text" name="email" id="email" value="jane@smith.com" class="text ui-widget-content ui-corner-all">
			  <label for="password">Password</label>
			  <input type="password" name="password" id="password" value="xxxxxxx" class="text ui-widget-content ui-corner-all">
		 
			  <!-- Allow form submission with keyboard without duplicating the dialog button -->
			  <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
			</fieldset>
		  </form>
		</div>
		<p/>

		<!-- Highlight / Error -->
		<div id="alertbox" class="ui-widget" style="visibility: hidden">
			<div id="alert" class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
				
			</div>
		</div>
	</article>
	<footer>Copyright &copy; W3Schools.com</footer>
</section>

<script src="/static/external/jquery/jquery.js"></script>
<script src="/static/jquery-ui.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
<script>

$(function() {
	$( "#tabs" ).tabs({
	   heightStyle:"fill"
	});
});

$(document).ready(function() {
    $('#example').DataTable();
} );

function addUser(){
	if($("#panel_name").val()){
		$("#alertbox").css("visibility", "visible");
		$("#alert").html('<p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span><strong>Alert:</strong> ' + $("#panel_name").val() +  '</p>')
		$( "#dialog" ).dialog( "close" );
	}
}

$( "#tabs" ).tabs();

$( "#dialog" ).dialog({

	autoOpen: false,
	width: 400,
    width: 350,
    modal: true,
	buttons: [
		{
			text: "Create an account",
			click: function() {
				addUser()
				$( this ).dialog( "close" );
			}
		},
		{
			text: "Cancel",
			click: function() {
				$( this ).dialog( "close" );
			}
		}
	]
});

// Link to open the dialog
$( ".dialog_btn" ).click(function( event ) {
	$( "#dialog" ).dialog( "open" );
	event.preventDefault();
});

</script>
</body>
</html>
