<div id="{{tab_name}}">
    <div id="users-contain" class="ui-widget">
        <h1>Edit Smart Buttons:</h1>
        <table id="users" class="ui-widget ui-widget-content" style="width:100%">
        <thead>
        <tr class="ui-widget-header ">
        <th>Panel Name</th>
        <th>Has Smart Button</th>
        <th>Edit</th>
        </tr>
        </thead>
        <tbody>
          {% for panel in panels %}
            <tr>
              <td align="center">{{panel.name}}</td>
              <td align="center">{{panel.has_smrt_btn}}</td>
              <td align="center">
                  <button id="{{panel.name}}" class="dialog_btn ui-button ui-corner-all ui-widget">
                  <span class="ui-icon ui-icon-transfer-e-w"></span>Edit Smart Button(s)
                  </button>
              </td>
            </tr>
          {% endfor %}
        </tbody>
        </table>
    </div>
    <p>
        <button id="smrt_btn_all_dialog" class="dialog_btn ui-button ui-corner-all ui-widget">
        <span class="ui-icon ui-icon-newwin"></span>Create new user
        </button>
    </p>
</div>
      
<div id="dialog" class="dialog" title="Create new user">
    <p class="validateTips">All form fields are required.</p>

    <form>
        <fieldset>
            <label for="panel_name">Panel Name</label>
            <input type="text" name="panel_name" id="panel_name" value="Panel1" class="text ui-widget-content ui-corner-all">
            <label for="name">Email</label>
            <input type="text" name="email" id="email" value="jane@smith.com" class="text ui-widget-content ui-corner-all">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" value="xxxxxxx" class="text ui-widget-content ui-corner-all">

            <!-- Allow form submission with keyboard without duplicating the dialog button -->
            <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
        </fieldset>
    </form>
</div>

<script src="/static/external/jquery/jquery.js"></script>
<script src="/static/jquery-ui.js"></script>
<script>
    
    function addUser(){
        if($("#panel_name").val()){
        $("#alertbox").css("visibility", "visible");
        $("#alert").html('<p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span><strong>Alert:</strong> ' + $("#panel_name").val() +  '</p>')
        $( "#dialog" ).dialog( "close" );
        }
    }
    
    $( "#dialog" ).dialog({
      
        autoOpen: false,
        width: 400,
        width: 350,
        modal: true,
        buttons: [
        {
            text: "Create an account",
            click: function() {
            addUser()
            $( this ).dialog( "close" );
            }
        },
        {
            text: "Cancel",
            click: function() {
            $( this ).dialog( "close" );
            }
        }
        ]
    });
    
    // Link to open the dialog
    $( ".dialog_btn" ).click(function( event ) {
        $( "#dialog" ).dialog( "open" );
        event.preventDefault();
    });
  </script>